<p id="notice"><%= notice %></p>

<div id="info_commande">
<% @commande.ligne_commandes.each do |lc| %>
    <% @plat = Plat.find(lc.plat_id)%>
      <p> <strong>plat name:</strong> <%= @plat.description_plats.first.nom %></p>
      <p> <strong>Description du plat:</strong> <%= @plat.description_plats.first.description %></p>
      <p> <strong>Quantité:</strong> <%= lc.quantite %></p>
      <p> <strong>Prix:</strong> <%= @plat.description_plats.first.prix %></p>
<%end%>

<p>
  <u> <strong>Total de la facture:</strong>
  <%= @commande.total %> $ </u>
</p>
</div>
<div id="info_livraison">
<p>
  <strong>Numéro de confirmation:</strong>
  <%= @commande.numero_confirmation %>
</p>
<p>
  <strong>Nom du client:</strong>
  <%= @compte_client.try(:prenom) %>  <%= @compte_client.try(:nom) %>
</p>

<p>
  <strong>Heure de la commande:</strong>
  <%= DateTime.parse(@commande.heure.to_s).strftime("%H:%M")%>
</p>

<p>
  <strong>Date de la commande:</strong>
  <%= @commande.date %>
</p>

  <strong>Adresse de livraison:</strong>
   </br> <form class="address1_form" id="form_address" action=<%= commande_completer_commande_path(:id => @commande.id) %> method="post">
        <%=collection_select(:post, :address_id, @addresses.all, :id, :adresse_complete, {:include_blank => false}, html_options = {:onchange => "updateForm(this)"})%>
      <input id="bouton_confirmation_id2" type="submit" value="Confirmation">
      <p id="id_hidden">id: <input type="text" name="id_add" id="id_add" ></p>


    </form>
 <button type="button" onclick="showForm()">Ajouter adresse</button>
  <form  class="address2_form" id="form_address" action=<%= commande_completer_commande_path(:id => @commande.id) %> method="post">
     <%=getAddressForm()%>
  </form>
</div>

<script>
    function showForm() {
            $("#div_address_id").toggle();
            $("#bouton_confirmation_id2").toggle();
    }
</script>
<script>
    function updateForm(id) {
        $("#id_add").val(id.value);
    }
</script>
<script>
    $('#rue, #ville, #pays, #no_civic, #province, #code_postal').bind('keyup', function() {
        if(allFilled())
        {
            $('#bouton_confirmation_id').show();
        } else{
            $('#bouton_confirmation_id').hide();
        }

    });

    function allFilled() {
        var filled = true;
        $('#div_address_id :input').each(function() {
            if($(this).val() == '')
            {
                filled = false;
            }
        });
        return filled;
    }
</script>