<p id="notice"><%= notice %></p>

<div id="info_commande">
<% @commande.ligne_commandes.each do |lc| %>
    <% @plat = Plat.find(lc.plat_id)%>
      <p> <strong>plat name:</strong> <%= @plat.description_plats.first.nom %></p>
      <p> <strong>Description du plat:</strong> <%= @plat.description_plats.first.description %></p>
      <p> <strong>Quantité:</strong> <%= lc.quantite %></p>
      <p> <strong>Prix:</strong> <%= @plat.description_plats.first.prix %></p>
<%end%>

<p>
  <u> <strong>Total de la facture:</strong>
  <%= @commande.total %> $ </u>
</p>
</div>
<div id="info_livraison">
<p>
  <strong>Numéro de confirmation:</strong>
  <%= @commande.numero_confirmation %>
</p>
<p>
  <strong>Nom du client:</strong>
  <%= @compte_client.try(:prenom) %>  <%= @compte_client.try(:nom) %>
</p>

<p>
  <strong>Heure de la commande:</strong>
  <%= DateTime.parse(@commande.heure.to_s).strftime("%H:%M")%>
</p>

<p>
  <strong>Date de la commande:</strong>
  <%= @commande.date %>
</p>

<p>
  <strong>Adresse de livraison:</strong>
    <form id="form_address" action=<%= commande_completer_commande_path(:id => @commande.id) %> method="post">
        <%=collection_select(:post, :address_id, @addresses.all, :id, :adresse_complete, {:include_blank => "Please select"}, html_options = {:onchange => "updateForm(this)"})%>
        <p id="id_hidden">id: <input type="text" name="id_add" id="id_add" ></p>
        <button type="button" onclick="showForm()">Ajouter adresse</button>
    <input id="bouton_confirmation_id" type="submit" value="Confirmation">
    </form>
</p>

  <form id="form_address" action=<%= commande_completer_commande_path(:id => @commande.id) %> method="post">
     <%=getAddressForm()%>
  </form>
</div>

<script>
    function showForm() {
            $("#div_address_id").toggle();
    }
</script>
<script>
    function updateForm(id) {
        $("#id_add").val(id.value);
    }
</script>
