<div class="carnet">

    <h1>Liste des commandes actuellement disponibles</h1>
  <tbody>

  <% @commandes.each do |commande|  %>
      <table class="myTable">
      <tr>
        <td>Restaurant: <%= commande.restaurant.nom %></td>
        <td>Heure désirée: <%= commande.heure %></td>
        <td>Status: <%= commande.status %></td>
        <td>Total de la commande: <%= commande.total %></td>
        <td><%= link_to "Show", {:controller => "livreur", :action => "show", :commande => commande.id } %></td>
      </tr>
      </table>
  <% end %>
  </tbody>


</div>
