    <!-- Message Error -->
    <% if flash[:error].present? %>
    <div class="msg msg-error">
      <p><strong><%= flash[:error] %></strong></p>
    </div>
    <% end %>

<div class="carnet">
  <h1>Liste des commandes actuellement disponibles</h1>

  <tbody>
  <% @commandes_pretes.each do |commande|  %>
      <table class="myTable">
        <tr>
          <td>Restaurant: <%= commande.restaurant.nom %></td>
          <td>Heure désirée: <%= DateTime.parse(commande.heure.to_s).strftime("%H:%M")%></td>
          <td>Status: <%= commande.status %></td>
          <td>Total de la commande: <%= commande.total %></td>
          <td><%= link_to 'Show', livreur_show_path(id: commande.id), method: :get %></td>
        </tr>
      </table>
  <% end %>
  </tbody>
  <h1>Liste des commandes que je dois livrer</h1>
  <tbody>
  <% @mes_commandes.each do |commande|  %>
      <table class="myTable">
        <tr>
          <td>Restaurant: <%= commande.restaurant.nom %></td>
          <td>Heure désirée: <%= DateTime.parse(commande.heure.to_s).strftime("%H:%M")%></td>
          <td>Status: <%= commande.status %></td>
          <td>Total de la commande: <%= commande.total %></td>
          <td><%= link_to 'Show', livreur_show_path(id: commande.id), method: :get %></td>
        </tr>
      </table>
  <% end %>
  </tbody>
  <h1>Liste des commandes que j'ai deja livrer</h1>
  <tbody>
  <% @mes_commandes_completees.each do |commande|  %>
      <table class="myTable">
        <tr>
          <td>Restaurant: <%= commande.restaurant.nom %></td>
          <td>Heure désirée: <%= DateTime.parse(commande.heure.to_s).strftime("%H:%M")%></td>
          <td>Status: <%= commande.status %></td>
          <td>Total de la commande: <%= DateTime.parse(commande.heure.to_s).strftime("%H:%M")%></td>
          <td><%= link_to 'Show', livreur_show_path(id: commande.id), method: :get %></td>
        </tr>
      </table>
  <% end %>
  </tbody>
</div>
