<html>
<head>
  <script
  src="http://maps.googleapis.com/maps/api/js">
  </script>

  <script>
      function initialize() {
          var mapProp = {
              center:new google.maps.LatLng(51.508742,-0.120850),
              zoom:5,
              mapTypeId:google.maps.MapTypeId.ROADMAP
          };
          var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  </script>

</head>

<p id="notice"><%= notice %></p>

<p>
  <strong>test</strong>
  <!--ici, ruby injection pour Nom du client  -->
</p>

<p>
  <strong>Heure de la commande:</strong>
  <%= @commande.heure %>
</p>

<p>
  <strong>Date de la commande:</strong>
  <%= @commande.date %>
</p>

<p>
  <strong>Numéro de confirmation:</strong>
  <%= @commande.numero_confirmation %>
</p>

<% @commande.ligne_commandes.each do |lc| %>
    <% @plat = Plat.find(lc.plat_id)%>
    <p>plat name: <%= @plat.description_plats.first.nom %></p>
    <p>Description du plat: <%= @plat.description_plats.first.description %></p>
    <p>Quantité: <%= lc.quantite %></p>
    <p>Prix: <%= @plat.description_plats.first.prix %></p>
<%end%>

<p>
  <strong>Total de la facture:</strong>
  <%= @commande.total %>
</p>

<div class="myDiv" id="googleMap" style="width:60%;height:550px;"></div>




</html>