<head>
  <script
  src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false">
  </script>

  <script>
      var geocoder;
      var map;
      var directionsDisplay;
      var directionsService = new google.maps.DirectionsService();
      function initialize() {
          directionsDisplay = new google.maps.DirectionsRenderer();
          geocoder = new google.maps.Geocoder();
          var latlng = new google.maps.LatLng(45.508669900000000000, -73.553992499999990000);
          var mapOptions = {
              zoom: 15,
              center: latlng
          }
          map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
          var addressClient = '<%= formater_adresse(@commande.address) %>'
         var addressLivreur = '<%= @compte_livreur.coordonnee %>'
          var addressRestaurant = '<%= formater_adresse(@adr_restaurant) %>'
          //Ajouter addresseRestaurant dans code addresse
          codeAddress(addressLivreur,addressRestaurant,addressClient );
          // Modifier pour que livreur->restaurant->client
          calcRoute(addressLivreur,addressRestaurant, addressClient);

          directionsDisplay.setMap(map);
      }
      function calcRoute(depart,arret, arrive) {
          var start = depart;
          var stops = [];
          stops.push({
              location:arret,
              stopover:true
          });
          var end = arrive;
          var request = {
              origin:start,
              waypoints: stops,
              destination:end,
              travelMode: google.maps.TravelMode.DRIVING
          };
          directionsService.route(request, function(response, status) {
              if (status == google.maps.DirectionsStatus.OK) {
                  directionsDisplay.setDirections(response);
              }
          });
      }

      function codeAddress(address, address2, address3) {
          geocoder.geocode( { 'address': address}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                  map.setCenter(results[0].geometry.location);
                  var marker = new google.maps.Marker({
                      map: map,
                      position: results[0].geometry.location
                  });
              } else {
                  alert("Geocode was not successful for the following reason: " + status);
              }
          });
          geocoder.geocode( { 'address': address2}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                  map.setCenter(results[0].geometry.location);
                  var marker2 = new google.maps.Marker({
                      map: map,
                      position: results[0].geometry.location
                  });
              } else {
                  alert("Geocode was not successful for the following reason: " + status);
              }
          });
          geocoder.geocode( { 'address': address3}, function(results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                  map.setCenter(results[0].geometry.location);
                  var marker3 = new google.maps.Marker({
                      map: map,
                      position: results[0].geometry.location
                  });
              } else {
                  alert("Geocode was not successful for the following reason: " + status);
              }
          });
      }
  </script>
</head>

<p id="notice"><%= notice %></p>

<p>
  <strong>Heure de la commande:</strong>
  <%= DateTime.parse(@commande.heure.to_s).strftime("%H:%M")%>
</p>

<p>
  <strong>Date de la commande:</strong>
  <%= @commande.date %>
</p>


<% @commande.ligne_commandes.each do |lc| %>
    <% @plat = Plat.find(lc.plat_id)%>
    <p><strong>plat name:</strong> <%= @plat.description_plats.first.nom %></p>
    <p><strong>Description du plat:</strong> <%= @plat.description_plats.first.description %></p>
    <p><strong>Quantité:</strong> <%= lc.quantite %></p>
    <p><strong>Prix:</strong> <%= @plat.description_plats.first.prix %></p>
<%end%>

<p>
  <strong>Total de la facture:</strong>
  <%= @commande.total %>
</p>

<p>
  <strong>Position actuelle (A):</strong>
  <%= @compte_livreur.coordonnee %>
</p>
<p>
  <strong>Addresse du restaurant (B):</strong>
  <%= formater_adresse(@adr_restaurant) %>
</p>
<p>
  <strong>Addresse du client (C):</strong>
  <%=@commande.address.no_civic.to_s()+@commande.address.rue+"," + @commande.address.ville+"," + @commande.address.province+","+@commande.address.pays %>
</p>
<body onload="initialize()">
<div id="map-canvas" style="width: 500px; height: 450px;"></div>
</body>
<br/>
<br/>

<%= link_to 'Accepte la commande', livreur_accept_path(@commande.id), method: :get if @commande.status=='prete'%>
<%= link_to 'Terminer la livraison', livreur_termine_path(@commande.id), method: :get if @commande.status=='en_livraison'%>
<br/>
<br/>