<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    </br>
    <%= f.label :nom, :class => "labelClient"%><br>
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :prenom, :class => "labelClient" %><br>
    <%= f.text_field :prenom %>
  </div>

  <div class="field">
    <%= f.label :telephone, :class => "labelClient" %><br>
    <%= f.telephone_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :date_naissance, :class => "labelClient" %><br>
    <%= f.date_select :date_naissance, start_year: 1950 %>
  </div>
  <%= f.fields_for :compte do |builder| %>
    <p>
      <%= builder.label :courriel, :class => "labelClient" %><br />
      <%= builder.text_field :courriel %><br />
    </p>
    <p>
      <%= builder.label  :mot_de_passe, :class => "labelClient" %><br />
      <%= builder.password_field :mot_de_passe %><br />
    </p>
  <% end %>
  <%= f.fields_for :address do |builder| %>
    <p>
      <%= builder.label :rue, :class => "labelClient" %><br />
      <%= builder.text_field :rue %><br />
    </p>
    <p>
      <%= builder.label :no_civic, :class => "labelClient" %><br />
      <%= builder.text_field :no_civic %><br />
    </p>
    <p>
      <%= builder.label :ville, :class => "labelClient" %><br />
      <%= builder.text_field :ville %><br />
    </p>
    <p>
      <%= builder.label :code_postal, :class => "labelClient" %><br />
      <%= builder.text_field :code_postal %><br />
    </p>
    <p>
      <%= builder.label :province, :class => "labelClient" %><br />
      <%= builder.text_field :province %><br />
    </p>
    <p>
      <%= builder.label :pays, :class => "labelClient" %><br />
      <%= builder.text_field :pays %><br />
    </p>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
