<!-- Container -->
<div id="container">
  <div class="shell">

    <!-- Small Nav -->
    <div class="small-nav">
      <a href=<%= restaurateur_index_path %>>Dashboard</a>
    </div>
    <!-- End Small Nav -->
    <br />
    <!-- Main -->
    <div id="main">
      <div class="cl">&nbsp;</div>

      <!-- Content -->
      <div id="content">

        <!-- Box -->
        <% @restaurants.each do |restaurant| %>
          <div class="box">
            <!-- Box Head -->
            <div class="box-head">
              <h2 class="left"><%= restaurant.nom %></h2>
            </div>
            <!-- End Box Head -->

            <!-- Table -->
            <% link_proc = proc { |params| restaurateur_preparer_commande_path params } -%>
            <div class="table">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <th><%= sortable_heading( "Numéro de confirmation", :numero_confirmation, link_proc ) %></th>
                  <th class="ac"><%= sortable_heading( "Status", :status, link_proc ) %></th>
                  <th class="ac"><%= sortable_heading( "Total", :total, link_proc ) %></th>
                  <th class="ac"><%= sortable_heading( "Heure", :created_at, link_proc ) %></th>
                  <th></th>
                </tr>

                <% def order_by
                return {} if params[:order].blank?
                direction = params[:direction] || "asc"
                order = params[:order]
                "#{order} #{direction}"
                end
                %>

               <% restaurant.commandes.order( order_by ).each_with_index do |commande, idx| %>
                  <tr class="<%= 'odd' if idx.modulo(2) == 0 %>">
                    <td><h3><%= commande.numero_confirmation %></h3></td>
                    <td class="ac"><%= commande.status %></td>
                    <td class="ac"><%= commande.total  %>$</td>
                    <td class="ac"><% a= "#{commande.created_at}"  %><%= a[10,10] %> </td>
                    <td><%= link_to 'Passer étape suivante', restaurateur_passer_etape_suivante_path(id: commande.id), method: :put, class: "ico edit" %></td>
                  </tr>
                <% end %>
              </table>
            </div>
            <!-- Table -->
          </div>
        <% end %>
        </div>
        <!-- End Box -->
      </div>
      <!-- End Content -->
      <div class="cl">&nbsp;</div>
    </div>
    <!-- Main -->
  </div>
</div>
<!-- End Container -->
